@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Layton Utah Temple Tour Sign-Ups</h1>
    <br />
    <img src="~/img/layton-utah-temple-6932-main.jpg" width="500" />

    <p>
        Come with us for a one-hour tour of the Layton Temple grounds. Experience the Spirit felt on these tours with your family and friends.
        Please limit group sizes to 15 or less.
    </p>
    <p>
        We can only add a limited number of tours at this time. They will be removing the visitors center soon so that they can complete the landscaping.
        When the trailer is gone, we anticipate being able to talk to groups on the lawn of the church across the street or at the Morgan's backyard.
        We are trying to facilitate as many groups as possible, so please only sign-up when you can commit to coming on the selected date and time. We have a lot of last minute cancelations.
    </p>
</div>
    <div class="p-4">
        <h4 class="font-weight-bold">General Tour Instructions:</h4>
        <ul>
            <li>Park on Rosewood (west side of the temple) and meet at the Visitors Center trailer.</li>
            <li>Dress casual, except on Sunday</li>
        </ul>
        <h4 class="font-weight-bold">Special Accommodations:</h4>
        <ul>
            <li>Spanish-speaking tours are available, by request.</li>
        </ul>
        <h4 class="font-weight-bold">Available Tours:</h4>
        <ul>
            <li>Tour (Outdoor): We will walk on the sidewalk along Oak Hills and on Rosewood in front of the temple on uneven surfaces; please wear sturdy shoes.</li>
            <li>Trailer Tour: On Sunday. Masks are required</li>
        </ul>
        <h4 class="font-weight-bold">Please call or text 801-628-4488 with questions or special requests.</h4>
    </div>
    <div class="text-center">
        <a class="btn btn-lg btn-primary text-light" asp-action="Timeslots">View Time Slots</a>
    </div>
