@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Layton Temple Tour Sign-Ups</h1>

    <img src="~/img/layton-utah-temple-6932-main.jpg" width="500"/>

    <p>Come with us for a one-hour tour of the Layton Temple grounds. Experience the Spirit felt on these tours with your family and friends.
    Please Limit group sizes to 15 or less.</p>
    <a class="btn btn-lg btn-primary">View Time Slots</a>
</div>
